# Individual Stock Data Collection and Wrangling

In [87]:
# libraries
import pandas as pd
import yfinance as yf
from datetime import date
import numpy as np
import plotly.express as px
import plotly.graph_objects as go

goal: make functions for get  
- 1st of the month cost per share for a given time period
- quarterly dividend amt per share for a given time period
- calculate the average dividend 
- calculate the average monthly cost per share

In [88]:
portfolio = pd.DataFrame({
    'ticker':['FXAIX','FSSNX','FSPSX','VDADX','FXNAX','VGAVX','FSRNX'],
    'quantity':[16.81,18.957,11.455,76.756,12.256,197.257,18.878],
    'category':['stock','stock','stock','bond','bond','bond','real estate'],
    'future_percents':[0.30,0.25,0.25,0.05,0.05,0.05,0.05]
})
# monthly amount to invest total
monthly_investments = 6000
# Number of years plan to invest
years_to_invest = 8
# years invested
years_invested = 5

In [89]:
# get the TICKER for the stocks we are interested in
# put these tickers in a dictionary
investments = pd.DataFrame({'ticker':['FXAIX','FSSNX','FSPSX','VDADX','FXNAX','VGAVX','FSRNX'],'Quantity':[16.81,18.957,11.455,76.756,12.256,197.257,18.878]})
investment_tickers = investments['ticker']
# get the number of years the user has been investing

In [90]:
# calculate the year the individual started investing
today = date.today()
year_start_investing = today.year - years_invested
month = today.month
year = today.year

In [91]:
# Function to connect to yahoo finance and create soup object
def connectYahooFinance (ticker):
    ticker_data = yf.Ticker(ticker)
    ticker_data = pd.DataFrame(ticker_data.history(period = 'max'))
    ticker_data.reset_index(inplace = True)
    return ticker_data

In [92]:
connectYahooFinance('FXAIX')

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2011-05-04,37.664501,37.664501,37.664501,37.664501,0,0.0,0
1,2011-05-05,37.325233,37.325233,37.325233,37.325233,0,0.0,0
2,2011-05-06,37.475136,37.475136,37.475136,37.475136,0,0.0,0
3,2011-05-09,37.640835,37.640835,37.640835,37.640835,0,0.0,0
4,2011-05-10,37.948517,37.948517,37.948517,37.948517,0,0.0,0
...,...,...,...,...,...,...,...,...
2871,2022-09-29,126.839996,126.839996,126.839996,126.839996,0,0.0,0
2872,2022-09-30,124.930000,124.930000,124.930000,124.930000,0,0.0,0
2873,2022-10-03,128.169998,128.169998,128.169998,128.169998,0,0.0,0
2874,2022-10-04,132.100006,132.100006,132.100006,132.100006,0,0.0,0
2875,2022-10-05,131.839996,131.839996,131.839996,131.839996,0,0.0,0

In [93]:
# function to get historical monthly cost per share
def MonthlyCost (ticker):
    # first call the connect to yahoofinance function
    ticker_data = connectYahooFinance(ticker)
    # filter data to only include info from the first of the month
    return ticker_data[ticker_data['Date'].dt.is_month_start]

In [94]:
MonthlyCost('FXAIX')

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
19,2011-06-01,36.828205,36.828205,36.828205,36.828205,0,0.000,0
41,2011-07-01,37.593494,37.593494,37.593494,37.593494,0,0.000,0
61,2011-08-01,35.968258,35.968258,35.968258,35.968258,0,0.000,0
84,2011-09-01,33.751297,33.751297,33.751297,33.751297,0,0.000,0
126,2011-11-01,34.243134,34.243134,34.243134,34.243134,0,0.000,0
...,...,...,...,...,...,...,...,...
2747,2022-04-01,157.093338,157.093338,157.093338,157.093338,0,0.000,0
2788,2022-06-01,142.105713,142.105713,142.105713,142.105713,0,0.000,0
2809,2022-07-01,132.740005,132.740005,132.740005,132.740005,0,0.577,0
2829,2022-08-01,143.059998,143.059998,143.059998,143.059998,0,0.000,0
2852,2022-09-01,138.039993,138.039993,138.039993,138.039993,0,0.000,0

In [95]:
# function to scrape historical dividend amt per share
def quarterlyDividends (ticker):
    # first call the conncet to yahoofinance function
    ticker_data = connectYahooFinance(ticker)
    # filter data to only include info when dividends were distributed
    return ticker_data[ticker_data['Dividends']!=0]

In [96]:
quarterlyDividends('FXAIX')

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
109,2011-10-07,32.458405,32.458405,32.458405,32.458405,0,0.223,0
158,2011-12-16,34.407169,34.407169,34.407169,34.407169,0,0.256,0
232,2012-04-04,39.716751,39.716751,39.716751,39.716751,0,0.186,0
296,2012-07-06,38.679855,38.679855,38.679855,38.679855,0,0.288,0
360,2012-10-05,41.944386,41.944386,41.944386,41.944386,0,0.282,0
407,2012-12-14,40.780769,40.780769,40.780769,40.780769,0,0.345,0
482,2013-04-05,45.095215,45.095215,45.095215,45.095215,0,0.271,0
545,2013-07-05,47.637558,47.637558,47.637558,47.637558,0,0.279,0
609,2013-10-04,49.607006,49.607006,49.607006,49.607006,0,0.309,0
658,2013-12-13,52.317474,52.317474,52.317474,52.317474,0,0.344,0
734,2014-04-04,55.292763,55.292763,55.292763,55.292763,0,0.298,0
796,2014-07-03,59.160526,59.160526,59.160526,59.160526,0,0.334,0
860,2014-10-03,58.936810,58.936810,58.936810,58.936810,0,0.330,0
914,2014-12-19,62.286720,62.286720,62.286720,62.286720,0,0.399,0
983,2015-04-01,62.307774,62.307774,62.307774,62.307774,0,0.326,0
1046,2015-07-01,63.191013,63.191013,63.191013,63.191013,0,0.450,0
1111,2015-10-02,59.663307,59.663307,59.663307,59.663307,0,0.366,0
1165,2015-12-18,61.602879,61.602879,61.602879,61.602879,0,0.428,0
1245,2016-04-15,64.379578,64.379578,64.379578,64.379578,0,0.364,0
1303,2016-07-08,66.248215,66.248215,66.248215,66.248215,0,0.369,0
1367,2016-10-07,67.341377,67.341377,67.341377,67.341377,0,0.388,0
1416,2016-12-16,70.888405,70.888405,70.888405,70.888405,0,0.456,0
1492,2017-04-07,74.420799,74.420799,74.420799,74.420799,0,0.364,0
1554,2017-07-07,77.014427,77.014427,77.014427,77.014427,0,0.419,0
1618,2017-10-06,81.353622,81.353622,81.353622,81.353622,0,0.451,0
1667,2017-12-15,85.707138,85.707138,85.707138,85.707138,0,0.456,0
1742,2018-04-06,83.873405,83.873405,83.873405,83.873405,0,0.404,0
1805,2018-07-06,89.314583,89.314583,89.314583,89.314583,0,0.449,0
1869,2018-10-05,93.823380,93.823380,93.823380,93.823380,0,0.451,0
1917,2018-12-14,84.872902,84.872902,84.872902,84.872902,0,0.503,0
1993,2019-04-05,95.015350,95.015350,95.015350,95.015350,0,0.455,0
2055,2019-07-05,98.721382,98.721382,98.721382,98.721382,0,0.480,0
2119,2019-10-04,97.941589,97.941589,97.941589,97.941589,0,0.502,0
2168,2019-12-13,105.551628,105.551628,105.551628,105.551628,0,0.751,0
2247,2020-04-08,92.181725,92.181725,92.181725,92.181725,0,0.542,0
2311,2020-07-10,107.297096,107.297096,107.297096,107.297096,0,0.498,0
2370,2020-10-02,113.223480,113.223480,113.223480,113.223480,0,0.456,0
2419,2020-12-11,124.276016,124.276016,124.276016,124.276016,0,0.586,0
2499,2021-04-09,140.758179,140.758179,140.758179,140.758179,0,0.413,0
2558,2021-07-02,148.862778,148.862778,148.862778,148.862778,0,0.496,0
2621,2021-10-01,149.506470,149.506470,149.506470,149.506470,0,0.527,0
2670,2021-12-10,162.136200,162.136200,162.136200,162.136200,0,0.583,0
2752,2022-04-08,155.148422,155.148422,155.148422,155.148422,0,0.462,0
2809,2022-07-01,132.740005,132.740005,132.740005,132.740005,0,0.577,0

In [97]:
# function to calcuate the average dividends for each ticker
def CalculateAvgDividend(ticker):
    dividends = pd.DataFrame(quarterlyDividends(ticker))
    # need to get the data of the past five years
    five_years_ago =f'{today.year-5}-01-01'
    dividends = dividends[(dividends['Date']> five_years_ago)]
    average_dividend = dividends['Dividends'].mean()
    return average_dividend

In [98]:
CalculateAvgDividend('FXAIX')

0.4920454545454545

In [99]:
# function to calc avg cost per share for each ticker
def CalculateAvgCostPerShare(ticker):
    cost_per_share = pd.DataFrame(MonthlyCost(ticker))
    five_years_ago =f'{today.year-5}-01-01'
    cost_per_share = cost_per_share[(cost_per_share['Date']>five_years_ago)]
    average_cost = cost_per_share['Open'].mean()
    return average_cost

In [100]:
CalculateAvgCostPerShare('FXAIX')

110.53347479778787

In [101]:
# how much is your current initial investment worth
def calcCurrentWorth (ticker):
    quantity = investments.loc[investments['ticker'] == ticker]['Quantity']
    cost_per_share = pd.DataFrame(MonthlyCost(ticker))
    cost_per_share = cost_per_share.iloc[-1:]
    current_value = cost_per_share['Open'].values[0]*quantity.values[0]
    return current_value

In [102]:
calcCurrentWorth('FXAIX')

2320.452287139892

In [103]:
# calculate the annual interest rate of the individual stocks
def interestRate(ticker):
    # get a dataframe of the monthly costs for the specific ticker
    cost_per_share = pd.DataFrame(MonthlyCost(ticker))
    # get the current cost per share of the ticker
    current_value = cost_per_share.iloc[-1:]   
    current_value = current_value['Open'].values[0]
    # get the cost per share five years ago
    old_date =f'{today.year-6}-12-01'
    old_value = cost_per_share.loc[cost_per_share['Date']==old_date]
    old_value = old_value['Open'].values[0]
    # calculate the compounding annual growth rate of the stock
    CAGR = (current_value/old_value)**(1/(year-2015))-1
    return CAGR

In [104]:
interestRate('FXAIX')

0.10473965835058996

In [105]:
# compounding calculation
def compoundingCalc (ticker, monthly_investment, years_future_invest):
    # assign the variables for our calculation
    principal = calcCurrentWorth(ticker)            # find the current worth of the stock
    interest = interestRate(ticker)                 # find the growth rate of the stock over the past five years
    compounding_period = 12                         # assign how often the interest will compound, 12 = monthly
    year = years_future_invest                      # assign how lond the user plans to invest for
    monthly_contribution = monthly_investment       # assign how much the user plans to invest in this stock per month
    # create a dataframe to gold our results
    results = pd.DataFrame(columns = ['Year', 'Amount'])
    
    # itereate through the years the user plans to invest for
    for i in range(1,year+1):
        Year = i
        # perform the actual calculation
        Amount = principal*np.power((1 + interest / compounding_period), compounding_period * i)+(monthly_contribution)*(np.power((1 + interest / compounding_period), compounding_period * i)-1)/(interest / compounding_period)
        # add the results to the dataframe
        results =  results.append({'Year': Year, 'Amount': Amount}, ignore_index = True)
    return results

In [106]:
compoundingCalc('FXAIX',1000,8)

   Year         Amount
0   1.0   15168.671149
1   2.0   29429.126417
2   3.0   45257.046740
3   4.0   62824.723022
4   5.0   82323.383845
5   6.0  103965.277048
6   7.0  127985.980092
7   8.0  154646.964385

In [107]:
# compounding calculation with dividends
def compoundingCalcDividends (ticker, monthly_investment, years_future_invest):
        # create a dataframe to gold our results
        results = pd.DataFrame(columns = ['Year', 'Amount'])

        principal = calcCurrentWorth(ticker)                        # find the current worth of the stock
        interest = interestRate(ticker)                             # find the growth rate of the stock over the past five years
        compounding_period = 12                                     # assign how often the interest will compound, 12 = monthly
        years = years_future_invest                                 # assign how lond the user plans to invest for
        monthly_contribution = monthly_investment                   # assign how much the user plans to invest in this stock per month
        dividends = CalculateAvgDividend(ticker)                    # calculate the average dividends returned
        dividends_compounding = 3                                   # the dividends compound quarterly
        avg_cost_per_share = CalculateAvgCostPerShare(ticker)       # calculate the average cost per share of the stock
        # itereate through the years the user plans to invest for
        for i in range(1,years+1):
                Year = i
                # perform the actual calculation
                Amount = principal*np.power((1 + interest / compounding_period), compounding_period * i)\
                +(monthly_contribution)*(np.power((1 + interest / compounding_period), compounding_period * i)-1)/(interest / compounding_period)\
                +((principal/avg_cost_per_share)*dividends)*(np.power((1 + interest / dividends_compounding), dividends_compounding * i)-1)/(interest / dividends_compounding)
                Ticker = ticker
                # add the results to the dataframe
                results =  results.append({'Year': Year, 'Amount': Amount,'Ticker':Ticker}, ignore_index = True)

        return results

In [108]:
compoundingCalcDividends('FXAIX',1000,8)

  Year         Amount Ticker
0    1   15200.754645  FXAIX
1    2   29496.772759  FXAIX
2    3   45364.112602  FXAIX
3    4   62975.483322  FXAIX
4    5   82522.577104  FXAIX
5    6  104218.155664  FXAIX
6    7  128298.366071  FXAIX
7    8  155025.311111  FXAIX

In [109]:

def totalInvestmentPrediction (Portfolio,Monthly_investments,Years_to_invest):
    total_portfolio = pd.DataFrame(columns = ['Year', 'Amount','Ticker'])

    for ticker, percent in zip(Portfolio['ticker'], Portfolio['future_percents']):

        principal = calcCurrentWorth(ticker)                        # find the current worth of the stock
        interest = interestRate(ticker)                             # find the growth rate of the stock over the past five years
        compounding_period = 12                                     # assign how often the interest will compound, 12 = monthly
        years = years_to_invest                                 # assign how lond the user plans to invest for
        monthly_contribution = percent*Monthly_investments          # assign how much the user plans to invest in this stock per month
        dividends = CalculateAvgDividend(ticker)                    # calculate the average dividends returned
        dividends_compounding = 3                                   # the dividends compound quarterly
        avg_cost_per_share = CalculateAvgCostPerShare(ticker)       # calculate the average cost per share of the stock

        # itereate through the years the user plans to invest for
        for i in range(1,years+1):
            Year = i
            # perform the actual calculation
            Amount = principal*np.power((1 + interest / compounding_period), compounding_period * i)\
                    +(monthly_contribution)*(np.power((1 + interest / compounding_period), compounding_period * i)-1)/(interest / compounding_period)\
                    +((principal/avg_cost_per_share)*dividends)*(np.power((1 + interest / dividends_compounding), dividends_compounding * i)-1)/(interest / dividends_compounding)
            Ticker = ticker
            # add the results to the dataframe
            total_portfolio =  total_portfolio.append({'Year': Year, 'Amount': Amount,'Ticker':Ticker}, ignore_index = True)

    return total_portfolio

In [110]:
totalInvestmentPrediction(portfolio,monthly_investments,years_to_invest)

   Year         Amount Ticker
0     1   25275.284505  FXAIX
1     2   50753.194220  FXAIX
2     3   79031.505248  FXAIX
3     4  110418.023433  FXAIX
4     5  145254.387077  FXAIX
5     6  183919.785633  FXAIX
6     7  226835.087139  FXAIX
7     8  274467.419321  FXAIX
8     1   18965.692571  FSSNX
9     2   38643.639498  FSSNX
10    3   59532.674027  FSSNX
11    4   81707.333058  FSSNX
12    5  105246.740902  FSSNX
13    6  130234.891604  FSSNX
14    7  156760.948663  FSSNX
15    8  184919.563182  FSSNX
16    1   18797.214949  FSPSX
17    2   37850.532845  FSPSX
18    3   57632.136931  FSPSX
19    4   78169.864917  FSPSX
20    5   99492.618576  FSPSX
21    6  121630.404405  FSPSX
22    7  144614.375861  FSPSX
23    8  168476.877195  FSPSX
24    1    7244.338039  VDADX
25    2   11829.574265  VDADX
26    3   16900.949355  VDADX
27    4   22510.005129  VDADX
28    5   28713.748030  VDADX
29    6   35575.228493  VDADX
30    7   43164.181758  VDADX
31    8   51557.736607  VDADX
32    1    3743.870908  FXNAX
33    2    7388.686923  FXNAX
34    3   11063.254368  FXNAX
35    4   14767.816092  FXNAX
36    5   18502.616930  FXNAX
37    6   22267.903714  FXNAX
38    7   26063.925290  FXNAX
39    8   29890.932536  FXNAX
40    1    6688.355401  VGAVX
41    2   10362.517597  VGAVX
42    3   14052.421195  VGAVX
43    4   17758.133636  VGAVX
44    5   21479.722651  VGAVX
45    6   25217.256261  VGAVX
46    7   28970.802778  VGAVX
47    8   32740.430807  VGAVX
48    1    3996.230499  FSRNX
49    2    7833.981426  FSRNX
50    3   11829.251142  FSRNX
51    4   15988.504939  FSRNX
52    5   20318.473471  FSRNX
53    6   24826.163648  FSRNX
54    7   29518.869978  FSRNX
55    8   34404.186367  FSRNX

In [111]:
# now we need to add up all of the rows that have the same years
def amountPeryear(Portfolio,Monthly_investments,Years_to_invest):
    total_portfolio = totalInvestmentPrediction(Portfolio,Monthly_investments,Years_to_invest)
    years = years_to_invest  
    sum_portfolio = pd.DataFrame(columns = ['Year', 'Amount'])
    for i in range(1,years+1):
        Year = i
        per_year = total_portfolio[total_portfolio['Year']==i]['Amount'].sum()
        sum_portfolio =  sum_portfolio.append({'Year': Year, 'Amount': per_year}, ignore_index = True)
        
    return sum_portfolio

In [112]:
amountPeryear(portfolio,monthly_investments,years_to_invest)

   Year         Amount
0   1.0   84710.986773
1   2.0  164662.126424
2   3.0  250042.191519
3   4.0  341319.679931
4   5.0  439008.305713
5   6.0  543671.631080
6   7.0  655928.187942
7   8.0  776457.141568

In [113]:
# graph the total data
total_investment = amountPeryear(portfolio,monthly_investments,years_to_invest)
fig = go.Figure(data=go.Scatter(x=total_investment['Year'], y=total_investment['Amount'], mode='lines', marker=dict(color='green')))
fig.show()